<app-poker-table [game]="game" [stage]="stage" [hand]="handIdx" [step]="actionIdx"></app-poker-table>
<div id="navigation_container">
    <div id="controls_container">
        <mat-slider id="slider" #slider [(ngModel)]="actionIdx" min="0" max="{{getMaxActions()}}"
            [tickInterval]="'1'" (input)="sliderOnChange($event.value)"></mat-slider>
        <p>Current action {{actionIdx+1}} of {{getMaxActions()+1}}</p>
        <!--<app-poker-action [action]="getCurrentAction()"></app-poker-action>-->

        <mat-slider id="handslider" #slider [(ngModel)]="handIdx" min="0" max="{{getMaxHands()}}"
            [tickInterval]="'1'" (input)="handSliderOnChange($event.value)"></mat-slider>
        <p>Current hand {{handIdx+1}} of {{getMaxHands()+1}}</p>

        <div id="play_controls_container">
            <div class="play_control" >
                <button id="play_button" (click)="toggle()">
                    {{isPlay ? "pause" : "play"}}
                </button>
            </div>
            <div class="play_control" id="speed_container">
                <p>speed</p>
                <input type="number" [(ngModel)] = "speedInput" (input)="speedOnChange()"/>
            </div>
            <div class="play_control" id="hand_count_container">
                
                <p>hand count</p>
                <input type="number" [(ngModel)] = "handCountInput" (input)="handCountOnChange()"/>
            </div>
            
        </div>
    </div>
    <div id="games_container">
        <button class="game_button" [ngClass]="{'selected': isGameSelected(game)}" (click)="gameClick(game)"
        *ngFor="let game of gamesUI">
            {{game.stage_string}} Game {{game.number}}
        </button>
    </div>
</div>